.friend-quotes-container{
  background-color: #ffffff;
  color: #ffffff;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 15%;
  left: 30%;
  border-radius: 10%;
  padding: 20px;
}

.author-name-friend{
  color: #FF907D;
}

.carousel-left{
  position: relative;
  top: 50%;
  left: -50%;
  background: url('../../images/spriteimage.svg') no-repeat -599px -27px;
  background-color: #ffffff;
  width: 16px;
	height: 8px;
  display: inline-block;
  z-index: 1;
  transform: rotate(90deg);
}

.carousel-right{
  position: relative;
  top: 50%;
  left: 50%;
  background: url('../../images/spriteimage.svg') no-repeat -599px -27px;
  background-color: #ffffff;
  width: 16px;
	height: 8px;
  display: inline-block;
  z-index: 1;
  transform: rotate(-90deg);
}

.carousel-left:hover{
  cursor: pointer;
  background-color: #848884;
  
}

.carousel-right:hover{
  cursor: pointer;
  background-color: #848884;
}

.hello{
  background-color: black;
}